# Ignore the build directory
[Bb]uild

# Ignore generated CMake files (from an accidental in-source build)
CMakeCache.txt
CMakeFiles

# Ignore diff files
*.orig
*.rej
*.swatch
*.ma
Level_Build/
Master_Build/
Assets/Levels/Maya Source Files/Ignore/
Assets/Audio/CC-BY3.0/explosion_dull.flac
Assets/Audio/CC-BY3.0/extreme_splatter/crack11.mp3.flac
Assets/Audio/CC-BY3.0/extreme_splatter/crack12.mp3.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupElectricityDamage01.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupElectricityDamage02.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage01.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage02.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03b.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03c.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03d.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03e.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03f.flac
Assets/Audio/CC-BY3.0/rumble.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/.notes.txt.swp
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/notes.txt
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/bodyimpact_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/boing_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/death_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/death_jack_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/footstep_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/footstep_jack_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/footstep_jack_03.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/footstep_jack_04.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/get_armour.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_load_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_load_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_machine_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_outofammo_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_rifle_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_rifle_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/gun_shot_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/jump_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/jump_jack_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/jump_jack_03.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/jump_jack_04.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/land.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/pain_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/pain_jack_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/pain_jack_03.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/powerup_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/powerup_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/powerup_03.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/powerup_04.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/punch_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/punch_jack_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/splash_jack_01.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/splash_jack_02.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/splash_jack_03.wav
Assets/Audio/CC-BY3.0/Jack Menhorn FPS Placeholder/teleport_jack_01.wav
Assets/Audio/swosh-01.flac
Assets/Audio/swosh-02.flac
Assets/Audio/swosh-03.flac
Assets/Audio/swosh-04.flac
Assets/Audio/swosh-05.flac
Assets/Audio/swosh-06.flac
Assets/Audio/swosh-07.flac
Assets/Audio/swosh-08.flac
Assets/Audio/swosh-09.flac
Assets/Audio/swosh-10.flac
Assets/Audio/swosh-11.flac
Assets/Audio/swosh-12.flac
Assets/Audio/swosh-13.flac
Assets/Audio/swosh-14.flac
Assets/Audio/swosh-15.flac
Assets/Audio/swosh-16.flac
Assets/Audio/swosh-17.flac
Assets/Audio/swosh-18.flac
Assets/Audio/swosh-19.flac
Assets/Audio/swosh-20.flac
Assets/Audio/swosh-21.flac
Assets/Audio/swosh-22.flac
Assets/Audio/swosh-23.flac
Assets/Audio/swosh-24.flac
Assets/Audio/swosh-25.flac
Assets/Audio/swosh-26.flac
Assets/Audio/swosh-27.flac
Assets/Audio/swosh-28.flac
Assets/Audio/swosh-29.flac
Assets/Audio/swosh-30.flac
Assets/Audio/swosh-31.flac
Assets/Audio/swosh-32.flac
Assets/Audio/swosh-33.flac
Assets/Audio/swosh-34.flac
Assets/Audio/swosh-35.flac
Assets/Audio/swosh-36.flac
Assets/Audio/swosh-37.flac
Assets/Audio/swosh-38.flac
Assets/Audio/swosh-39.flac
Assets/Audio/swosh-40.flac
Assets/Audio/swosh-41.flac
Assets/Audio/swosh-42.flac
Assets/Audio/swosh-43.flac
RootTools/Treenity/GeneratedFiles/ui_Treenity.h
