# Ignore the build directory
[Bb]uild

# Ignore generated CMake files (from an accidental in-source build)
CMakeCache.txt
CMakeFiles

# Ignore diff files
*.orig
*.rej
*.swatch
*.ma
Level_Build/
Master_Build/
Assets/Levels/Maya Source Files/Ignore/
Assets/Audio/CC-BY3.0/explosion_dull.flac
Assets/Audio/CC-BY3.0/extreme_splatter/crack11.mp3.flac
Assets/Audio/CC-BY3.0/extreme_splatter/crack12.mp3.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupElectricityDamage01.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupElectricityDamage02.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage01.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage02.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03b.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03c.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03d.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03e.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/qubodupIceDamage03f.flac
Assets/Audio/CC-BY3.0/rumble.flac
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/.notes.txt.swp
Assets/Audio/CC-BY3.0/qubodupIceAndElectricitySpells/notes.txt
