@font-face
{
	font-family: 'Sherwood';
	src: url("SHERWOOD.TTF");
}

body
{
	font-family: Sherwood;
	font-size: 12px;
	color: white;
	margin: 0;
}
img
{
	vertical-align: middle;
	display: inline-block;
}
@-webkit-keyframes blinker
{  
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
.blink
{
  -webkit-animation: blinker 1s linear infinite alternate;
}
.textcenter
{
  text-align: center;
}
.floatright
{
  float: right;
}
.floatleft
{
  float: left;
}
.textcenter
{
	text-align: center;
}
.textleft
{
	text-align: left;
}
.textright
{
	text-align: right;
}
.v_align_middle
{
  vertical-align: middle;
}
.red
{
	color: #FF9999;
}
.blue
{
	color: #9999FF;
}
.gray
{
	color: #AAAAAA;
}
.highlight
{
	background-color: rgba(255,255,255,0.5);
}
#score
{
	position: absolute;
	top:0;
	left:0;
	height: 75px;
	width: 220px;
	padding: 5px;
	background-color: rgba(60,60,60,0.5);
	font-size: 32px;
}
#TimeLeftContainer
{
	position: absolute;
	top:0;
	left:100%;
	margin-left: -141px;
	padding: 0 4px 10px 30px;
	padding-right: 4px;
	width: 107px;
	height: 60px;
	text-align: right;
	background: url('TimeBar.png') no-repeat;
	background-size: 100% 100%;
	font-size: 24px;
}
#KillAnnouncementContainer
{
	position: absolute;
	top:70px;
	left:100%;
  margin-left: -200px;
	width: 200px;
	height: 70px;
	text-align: right;
	color: white;
	font-size: 12px;
}
#KillAnnouncementContainer img
{
  height: 18px;
}
#KillAnnouncementContainer *
{
  vertical-align: middle;
}
#AnnouncementContainer
{
	position: absolute;
	top:100px;
	left:0;
	width: 100%;
	height: 35px;
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px black;
	font-size: 48px;
}
#chatbody
{
	width: 300px;
	height: 200px;
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: -360px;
	margin-left: 10px;
	z-index: 500;
}
#chatlog
{
	height: 180px;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Comic Sans MS;
  display: table-cell;
  vertical-align: bottom;
}
::-webkit-scrollbar
{
	display: none;
}
#chatinput
{
	width: 100%;
	height: 20px;
	font-family: Comic Sans MS;
  color: transparent;
  background: transparent;
  border: 0;
}
#chatinput:focus
{
	background-color:rgba(60,60,60,0.4);
	border: 1px solid rgba(40,40,40,0.4);
	color: white;
}
#healthbar
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin: -35px 0 0 450px;
	height: 33px;
}
#healthbar div
{
	padding: 0 11px;
	width: 304px;
	height: 33px;
	background: center url('healthBorder.png');
	margin: auto;
}
#healthbar div div
{
	padding: 0;
	height: 33px;
  width: 0;
	/*width: 304px;*/
	background: center url('healthBackground.gif');
	margin: auto;
}
#healthbar div div div
{
	padding: 0;
	height: 33px;
  width: 0;
	/*width: 304px;*/
	background: center url('healthOverflowBackground.gif');
	margin: auto;
}
#chargebar
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin: -100px 0 0 0;
	height: 12px;
}
#chargebar div
{
	display: none;
	width: 345px;
	height: 12px;
	background-color: rgba(0,0,0,0.2);
	margin: auto;
	border: 1px solid rgba(1,1,1,0.6);
}
#chargebar div div
{
	height: 12px;
	width: 100px;
	background-color: rgba(255,0,0,0.8);
	margin: auto;
}
#abilitybar
{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin-top: -132px;
	height: 132px;
	overflow: hidden;
}
#deathscreen
{
	display: none;
}
#deathtop
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	background: #000000;
}
#deathbottom
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 125px;
	margin-top: -125px;
	background: #000000;
}
#damageTaken
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url('damageTaken.png');
  background-size: 100% 100%;
}
#scorescreen-wrapper
{
	padding: 18px 34px 5px;
	width: 600px;
	height: 350px;
	margin: auto;
	background-image: url('ScoreBackground.png');
}
.scorewrapper
{
	width: 300px;
	height: 200px;
	font-size: 24px;
}
.scoretable
{
	margin: auto;
}
.scoretable thead tr td
{
	height: 40px;
	font-size: 24px;
}
.slot
{
	width: 64px;
	height: 64px;
	font-size: 18px;
	margin: 64px 0 0 0;
	display: inline-block;
	text-align: right;
	position: relative;
	background-image: url('Abilityring.png');
	background-repeat: no-repeat;
}
.slot>div.focus
{
	height: 64px;
	width: 64px;
	position: absolute;
	top: 0;
	z-index: 1;
}
/* Ability cooldown */
.slot>div.cooldown
{
	height: 64px;
	width: 64px;
	position: absolute;
	top: 0;
  background-image: url('cooldown.png');
	background-size: 64px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: -1;
}
/* Ability icon */
.slot>div.icon
{
	position: absolute;
	top: 0;
	padding: 30px 15px 0 15px;
	width: 34px;
	height: 34px;
	overflow: hidden;
  background: transparent;
	z-index: -2;
}
@-webkit-keyframes spin {  
  from {  
    -webkit-transform: rotate(0deg);  
  }  
  to {  
    -webkit-transform: rotate(360deg);  
  } 
}
.slotselected>div.focus
{
  background-image: url('JustGlow.png');
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite; 
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 2s; 
}
#slot2
{
  position: relative;
  top: -32px;
}

.verticaltablehax
{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
}
.verticalcenterhax
{
  display: table-cell;
  vertical-align: middle;
}

:not(input)
{
	-webkit-user-select: none;
}