@font-face
{
  font-family: 'Sherwood';
  src: url("SHERWOOD.TTF");
}

body, input
{
  padding: 0;
  margin: 0;
  font-family: Sherwood;
}
body
{
  background-image: url('menubackground.jpg');
  background-position: 50% 50%;
  background-size: 100% 100%;
}
*
{
  -webkit-user-select: none;
}
input[type=text], input[type=password], input[type=number]
{
  -webkit-user-select: text;
  min-width: 150px;
}
a
{
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
@-webkit-keyframes blinker
{  
  0% { color: #ff0000;}
  16% { color: #aaaa00;}
  33% { color: #00ff00;}
  50% { color: #00aaaa;}
  66% { color: #0000ff;}
  83% { color: #aa00aa;}
  100% { color: #ff0000;}
}
.blink
{
  -webkit-animation: blinker 5s linear infinite alternate;
}
.textcenter
{
  text-align: center;
}
.floatright
{
  float: right;
}
.clear
{
  clear: both;
}
.verticaltablehax
{
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
}
.verticalcenterhax
{
  display: table-cell;
  vertical-align: middle;
}
.button
{
  width: 140px;
  height: 25px;
  border: 0;
  margin: 2px;
  background: transparent url('menubutton.png');
  background-size: 160px 25px;
  background-position: 50% 50%;
}
.button:hover
{
  background: transparent url('menubutton_hover.png');
  background-size: 160px 25px;
  background-position: 50% 50%;
}
.button:active
{
  background: transparent url('menubutton_active.png');
  background-size: 160px 25px;
  background-position: 50% 50%;
}
#selected
{
  background-color: #FFCC66;
}
#overlay
{
  display: none;
}
.popup
{
  margin: auto;
  /*background-color: #FFFFFF;*/
  background: url('Ram.png') transparent;
  background-size: 100% 100%;
  padding: 36px;
  display: none;
}
.close
{
  float: right;
  width: 50px;
}
.inline-100px
{
  display: inline-block;
  width: 100px;
}
.inline-150px
{
  display: inline-block;
  width: 150px;
}
#connecting
{
  display: none;
}
#main-wrapper,
#options-wrapper
{
  width: 300px;
  margin: auto;
  color: #FFFFFF;
}
.main-button
{
  width: 200px;
  height: 50px;
  display: block;
  margin: 10px auto 10px auto;
  border: 0;
  color: #FFFFFF;
  font-size: 24px;
  background: transparent url('menubutton.png');
  background-size: 250px 50px;
  background-position: 50% 50%;
}
.main-button[disabled]
{
  color: #AAAAAA;
}
.main-button:hover
{
  background: transparent url('menubutton_hover.png');
  background-size: 250px 50px;
  background-position: 50% 50%;
}
.main-button:active
{
  background: transparent url('menubutton_active.png');
  background-size: 250px 50px;
  background-position: 50% 50%;
}
#options-menu,
#lan-menu
{
  display: none;
}
#lan-wrapper
{
  width: 1200px;
  border: 0;
  padding: 14px 40px 44px 40px;
  margin: auto;
  background: url('Ram.png') transparent;
}
#lan-list
{
  padding: 2px;
  width: 100%;
}
#lan-list-wrapper
{
  height: 633px;
  overflow: auto;
}
#lan-direct-popup
{
  width: 300px;
  height: 100px;
}
#lan-host-overlay
{
  width: 550px;
  height: 300px;
}
#lan-host-map
{
  -webkit-appearance: listbox;
  align-items: flex-start;
  width: 200px;
}